# Simple exercises for Basic Data Types in Python

## Numbers

#### 1. asign any number of type integer to the variable "num_1"

In [45]:
num_1 = 7

#### 2. asign any number of type float to the variable "num_2"

In [46]:
num_2 = 1260.00

#### 3. create variable "total" which is the sum of variables "num_1" and "num_2"

In [47]:
total = num_1 + num_2

#### 4. check the type of variable "total"

In [48]:
type(total)

float

#### 5. assign variable "height" with your height

In [49]:
height = 167.64

#### 6. asign variable "mass" with your weight

In [53]:
weight = 161

#### 7. create variable "bmi" :
hint: bmi = weight / (height*height)

In [54]:
bmi = weight / (height * height)

#### 8. print value from "bmi" variable

In [55]:
print(bmi)

0.005728891163934762

# String

#### 1. Create variable "name" with your first name

In [1]:
name = 'Jonas Emmanuel'

#### 2. Create variable "surname" with your surname

In [2]:
surname = 'Bacareza'

#### 3. create variable "name_surname" from variables "name" and "surname" 
hint : use string with white space between variable "name" and "surname"

In [3]:
name_surname = name + ' ' + surname

#### 4. print variable "name_surname"

In [4]:
print(name_surname)

Jonas Emmanuel Bacareza

#### 5. print first letter from variable "name_surname"

In [5]:
print(name_surname[0])

J

#### 6. print your name (without enmpty space) from variable "name_surname"

In [6]:
print(name_surname.replace(" ", ""))

JonasEmmanuelBacareza

#### 7. print your surname 10x (use variable surname)

In [17]:
print((surname + '\n') * 10)

Bacareza
Bacareza
Bacareza
Bacareza
Bacareza
Bacareza
Bacareza
Bacareza
Bacareza
Bacareza

#### 8. create variable greeting with message "Hello my name is " and your name and surname (use "name_surname" variable)

In [8]:
message = 'Hello my name is ' + name_surname

#### 9. print "message" variable

In [9]:
print(message)

Hello my name is Jonas Emmanuel Bacareza

## List

#### 1. create empty list with name "empty_list"

In [11]:
empty_list = []

#### 2. create list "heights" with five random values

In [12]:
heights = [168, 172, 181, 156, 177]

#### 3. print heights

In [19]:
print(heights)

[168, 172, 181, 156, 177]

#### 4. print type of variable "heights"

In [20]:
type(heights)

list

#### 5. print second value from "heights"

In [21]:
heights[1]

172

#### 6. assign last three values from "heights" to another list "heights_2"

In [30]:
heights_2 = heights[-3:]

#### 7. print "heights_2"

In [31]:
print(heights_2)

[181, 156, 177]

#### 8. create variable "list_all" with values from lists "heights" and "heights_2" together

In [40]:
list_all = heights[:2] + heights_2[-3:]

#### 9. print "list_all"

In [41]:
print(list_all)

[168, 172, 181, 156, 177]

#### 10. print the type of "list_all"

In [42]:
type(list_all)

list

## Tuple

#### 1. create empty tuple with name empty_tuple

In [43]:
empty_tuple = ()

#### 2. try to asign your name on the first position to the variable "empty_tuple" and check the type of the error

In [44]:
empty_tuple[0] = name

TypeError: 'tuple' object does not support item assignment

#### 3. According to question number 2, what is the main difference between list and tuple?

## Dictionary

#### 1. create empty dictionary with name "empty_dict"

#### 2. create "heights_dict" dictionary with your name as a key and height as a value

#### 3. asign another name and height to "heights_dict"

#### 4. print "heights_dict" dictionary

#### 5. print your height from the "heights_dict" dictionary

#### 6. print all values from "heights_dict" dictionary

#### 7. print all keys from "heights_dict" dictionary